.main-input-label {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  .main-input {
    height: 50px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    &:focus {
      outline-color: #fc7300;
    }
    &:focus ~ .main-label,
    &:not(:placeholder-shown).main-input:not(:focus) ~ .main-label {
      top: 0;
      background-color: var(--mainColor);
      color: var(--secondaryColor);
      font-size: 13px;
      padding: 2px 10px 3px;
      border-radius: 10px;
      font-weight: 100;
    }
  }
  .main-label {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #86817c;
    font-weight: 100;
    cursor: text;
    transition: all 0.4s;
  }

  .show-password-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    [fill] {
      fill: var(--mainColor);
    }
  }
  &.radio-input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    .radio-checkbox {
      @extend .main-input;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 1;
      justify-content: space-around;
      padding-inline: 0;

      &:active {
        transform: scale(0.98);
      }
      * {
        cursor: pointer;
      }
      label {
        @extend .main-input;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        width: 100%;
        padding-inline: 1rem;
      }
    }
    .main-label {
      top: 0;
      background-color: var(--mainColor);
      color: var(--secondaryColor);
      font-size: 13px;
      padding: 2px 10px 3px;
      border-radius: 10px;
      font-weight: 100;
    }
  }
}
.edit-field-icon {
  padding: 10px;
  border-radius: 100%;
  border: none;
  transition: transform cubic-bezier(1, -0.03, 0.23, 1.19) 100ms;
  margin-left: 1rem;
  [dir="rtl"] & {
    margin-left: unset;
    margin-right: 1rem;
  }

  &.active {
    background: var(--mainColor);
    color: white;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.9);
  }
}

[dir="rtl"] {
  .main-input-label {
    .main-label {
      right: 0;
      margin-right: 20px;
    }
    .show-password-icon {
      left: 20px;
    }
  }
}
[dir="ltr"] {
  .main-input-label {
    .main-label {
      left: 0;
      margin-left: 20px;
    }
    .show-password-icon {
      right: 20px;
    }
  }
}
