@import "src/styles/_colors.scss";

.invite-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  .orders-title {
    text-align: center;
    color: $mainColor;
  }

  .orders-details {
    box-shadow: 0 0 10px #07070732;
    padding: 1rem;
    border-radius: 1rem;
  }
}
.orders-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.invitation-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
