.base-layout {
  display: grid;
  grid-template-rows: 60px minmax(calc(100vh - 60px), max-content);
  grid-template-columns: 100%;
  grid-template-areas: "nav" "cont";
}

.page-content {
  grid-area: cont;
}
