@mixin product-icon {
  position: relative;
  background-color: darken($color: $mainColor, $amount: 10);
  user-select: none;
  cursor: pointer;
  color: white;
  & svg {
    width: 1.2rem;
    height: 1.2rem;
  }
  &.disabled {
    opacity: 0.8;
    pointer-events: none;
  }
  * {
    color: white;
  }
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    border-radius: inherit;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.1);
    transition: opacity ease-in-out 300ms;
  }
  &:hover::before {
    opacity: 1;
  }

  &:active:not(.show-add) {
    transform: scale(0.97);
  }
}
