@import "src/styles/colors";

.pointer {
  cursor: pointer;
  user-select: none;
}
.main-input {
  height: 50px;
  width: 100%;

  padding-right: 20px;
  padding-left: 20px;

  border: none;
  border-radius: 15px;
  background-color: #f1f1f1;

  font-size: 16px;
  font-family: "Noto Sans Arabic", sans-serif;

  &.error {
    outline: 2px solid red;
  }

  &:focus {
    outline-color: #fc7300;
  }

  &:focus ~ .main-label,
  .multi-select ~ .main-label,
  &:not(:placeholder-shown).main-input:not(:focus) ~ .main-label,
  .react-datepicker-wrapper ~ .main-label {
    top: 0;
    background-color: var(--mainColor);
    color: var(--secondaryColor);
    font-size: 13px;
    padding: 2px 10px 3px;
    border-radius: 10px;
    font-weight: 100;
  }

  &[id$="_ar"],
  &[name$="_ar"] {
    direction: rtl;
  }
}

textarea.main-input {
  height: 100%;
  padding: 1rem;
}

.check-group {
  height: fit-content;
  width: 100%;

  padding: 1.7rem 20px 1rem;

  border: none;
  border-radius: 15px;
  background-color: #f1f1f1;

  font-size: 16px;
  font-family: "Noto Sans Arabic", sans-serif;

  .check-input {
    cursor: pointer;
    user-select: none;
    accent-color: $primary;

    & ~ label {
      cursor: pointer;
      user-select: none;
      color: darken($color: $primary, $amount: 50);
      font-weight: 500;
    }
  }
  & ~ label.main-label {
    position: absolute;
    top: 0;
    background-color: var(--mainColor);
    color: var(--secondaryColor);
    font-size: 13px;
    padding: 2px 10px 3px;
    border-radius: 10px;
    font-weight: 100;
  }
}

.main-input-label {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  .main-label {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-family: "Open Sans", "Noto Sans Arabic", sans-serif;
    font-size: 16px;
    color: #86817c;
    font-weight: 100;
    cursor: text;
    transition: all 0.4s;
  }

  .multi-select {
    position: relative;
    .multi-select__control {
      min-height: 50px;
      width: 100%;
      padding-right: 5px;
      padding-left: 5px;
      border: none;
      border-radius: 15px;
      background-color: #f1f1f1;
      font-size: 16px;
      font-family: "Open Sans", "Noto Sans Arabic", sans-serif;
    }
    & ~ .main-label {
      top: 0;
      background-color: var(--mainColor);
      color: var(--secondaryColor);
      font-size: 13px;
      padding: 2px 10px 3px;
      border-radius: 10px;
      font-weight: 100;
    }
  }

  .react-datepicker-wrapper ~ .main-label {
    top: 0;
    background-color: var(--mainColor);
    color: var(--secondaryColor);
    font-size: 13px;
    padding: 2px 10px 3px;
    border-radius: 10px;
    font-weight: 100;
  }

  .show-password-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    @extend .pointer;
    [fill] {
      fill: var(--mainColor);
    }
    &.open {
      [fill] {
        fill: rgb(34, 10, 0);
      }
    }
  }
  &.radio-input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    .radio-checkbox {
      @extend .main-input;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 1;
      justify-content: space-around;
      padding-inline: 0;

      &:active {
        transform: scale(0.98);
      }
      * {
        cursor: pointer;
      }
      label {
        @extend .main-input;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        width: 100%;
        padding-inline: 1rem;
      }
    }
    .main-label {
      top: 0;
      background-color: var(--mainColor);
      color: var(--secondaryColor);
      font-size: 13px;
      padding: 2px 10px 3px;
      border-radius: 10px;
      font-weight: 100;
    }
  }
}
.edit-field-icon {
  padding: 10px;
  border-radius: 100%;
  border: none;
  transition: transform cubic-bezier(1, -0.03, 0.23, 1.19) 100ms;
  margin-left: 1rem;
  aspect-ratio: 1;
  height: 2.5rem;
  width: 2.5rem;
  justify-content: center;
  display: flex;
  align-items: center;

  [dir="rtl"] & {
    margin-left: unset;
    margin-right: 1rem;
  }

  &.active {
    background: var(--mainColor);
    color: white;
  }

  &:hover {
    @extend .pointer;
  }

  &:active {
    transform: scale(0.9);
  }
}

/* SELECT INPUT */
.main-input-select {
  width: 100%;

  .field-title {
    @extend .main-input;
    height: min-content;
    margin-bottom: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: fit-content;
    background-color: $primary;
    color: white;
    padding-inline: 1rem;
  }

  .check-field {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    @media (max-width: 400px) {
      flex-direction: column;
    }
    .form-check {
      @extend .main-input;
      padding-inline: 0;

      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-grow: 1;

      &:active {
        transform: scale(0.98);
      }
      * {
        @extend .pointer;
      }
      .form-check-label {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
      }
      .field-title {
        @extend .main-input;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        width: 100%;
        padding-inline: 1rem;
      }
      .form-check-circle {
        display: inline-block;
        position: relative;
        width: 1rem;
        height: 1rem;
      }
      .form-check-circle::before {
        position: absolute;
        content: "";
        width: 13px;
        height: 13px;
        inset: 0;
        border-radius: 50px;
        border: 1px solid black;
        box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.4);

        top: 1.1px;
        left: -0.25rem;
      }
      input[type="radio"] + .form-check-circle::before {
        background-color: white;
      }
      input[type="radio"]:checked + .form-check-circle::before {
        background-color: $mainColor;
      }
    }
  }
}

[dir="rtl"] {
  .main-input-label {
    .main-label {
      right: 0;
      margin-right: 20px;
    }
    .show-password-icon {
      left: 20px;
    }
  }
}
[dir="ltr"] {
  .main-input-label {
    .main-label {
      left: 0;
      margin-left: 20px;
    }
    .show-password-icon {
      right: 20px;
    }
  }
}
