.client-home {
  :global(.carousel-container) {
    margin: 30px;
  }
  :global([dir="rtl"].swiper-vertical .swiper-button-prev) {
    transform: rotate(-90deg) !important;
    &:active {
      transform: rotate(-90deg) scale(0.95) !important;
    }
  }
  :global([dir="rtl"].swiper-vertical .swiper-button-next) {
    transform: rotate(-90deg) !important;
    &:active {
      transform: rotate(-90deg) scale(0.95) !important;
    }
  }

  .home-section {
    min-height: 170px;
  }

  .top-ad {
    padding: 3rem;
    width: 100%;
    height: 35rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    & > * {
      border-radius: 1rem;
      overflow: hidden;
    }

    .large-ad {
      height: 100%;
      flex-basis: 60%;
      min-width: 300px;
      aspect-ratio: 3 / 4;
      background-color: green;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .small-ads-container {
      height: 100%;
      flex-basis: fit-content;
      box-shadow: 0px 2px 12px -5px rgba(0, 0, 0, 0.25);
      border-radius: 1rem;

      .small-ad {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: fit-content !important;
      }
    }
  }
}
