.main-button {
  height: 50px;
  min-height: 50px;
  background-color: var(--mainColor);
  border: none;
  border-radius: 15px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: var(--secondaryColor);
  cursor: pointer;
  transition: all 0.4s;

  &:disabled {
    cursor: default;
    opacity: 80%;
  }
}

.main-button:hover:not(:disabled) {
  background-color: var(--secondaryColor);
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
}

.google-button {
  background-color: #cf4332;
  color: antiquewhite;
}

.facebook-button {
  background-color: #5890ff;
  color: antiquewhite;
}
