.categories-page {
  position: relative;
  z-index: 0;
  height: 100%;
  .categories-cards-container {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;

    .category-card {
      align-self: center;
      justify-self: center;
    }
  }
}

@media screen and (max-width: 1439px) {
  .categories-page {
    .categories-cards-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
@media screen and (max-width: 1200px) {
  .categories-page {
    .categories-cards-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media screen and (max-width: 900px) {
  .categories-page {
    .categories-cards-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media screen and (max-width: 600px) {
  .categories-page {
    .categories-cards-container {
      grid-template-columns: 1fr;
    }
  }
}
