.swiper-button-next,
.swiper-button-prev {
  background: white;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  box-shadow: 0 0 10px #f89936;
  transition: all ease-out 150ms;
  &:hover {
    transform: scale(1.1);
    &:active {
      transform: scale(0.9);
    }
  }
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 10px !important;
  font-weight: bolder !important;
  color: var(--mainColor);
}

.swiper-button-disabled {
  display: none !important;
}

.slider-component {
  width: 100%;
}
