.edit-account-container {
  margin: 50px 5%;
  padding: 40px;

  .add-branch-form {
    .add-branch-title {
      color: var(--mainColor);
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    .account-details-container {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-areas: "img form";
      width: 100%;
      gap: 30px;
      .account-info-container {
        grid-area: form;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
        .main-input-label {
          width: 100%;
          .main-input {
            width: 100%;
          }
        }
      }
      .main-image-label {
        grid-area: img;
        border: 1px solid #707070;
        border-radius: 7px;
        width: 250px;
        height: 250px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: rgba(128, 128, 128, 0.5);

        .uploaded-img {
          width: 250px;
          height: 250px;
          object-fit: cover;
          object-position: center;
          border-radius: 7px;
        }
        .main-input-image {
          display: none;
        }
        .vendor-label-image {
          z-index: 3;
          position: absolute;
          height: 30px;
          width: 30px;
          right: 1rem;
          bottom: 1rem;
          display: flex;
          font-size: 20px;
          color: var(--secondaryColor);
          align-items: center;
          justify-content: center;
          cursor: pointer;
          background-color: #00000040;
          border-radius: 70px;
          padding: 20px;
          transition: color ease-in-out 150ms;
          &:hover {
            background-color: var(--mainColor);
            color: #00000080;
            outline: 1px solid var(--mainColor);
          }
          &:active {
            transform: scale(0.9);
          }
        }

        .loading-spinner-continer {
          height: unset;
        }
      }
    }

    .main-button {
      width: 60%;
    }
  }
}

@media screen and (max-width: 1300px) {
  .edit-account-container {
    margin: 30px 10%;
  }
}
@media screen and (max-width: 992px) {
  .edit-account-container {
    .add-branch-form {
      .account-details-container {
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
        grid-template-areas: "img" "form";
        .main-image-label {
          align-self: center;

          justify-self: center;
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .edit-account-container {
    margin: 1rem;
    padding: 1rem;
  }
}
