@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap");

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "src/styles/dimensions.scss";
@import "src/styles/colors.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColor: #fc7300;
  --mainColorLight: #f89a3663;
  --secondaryColor: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scrollbar-width: thin;
  scrollbar-color: rgba($primary, 0.5) #f1f1f1;
}

:root {
  --mainColor: #fc7300;
  --mainColorLight: #f89a3663;
  --secondaryColor: #ffffff;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 20px;
  border: 1px solid lightgrey;
}

/* Set the width of the scrollbar */
::-webkit-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba($primary, 0.5) #f1f1f1;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba($primary, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba($primary, 0.8);
}

/* Set the color of the scrollbar buttons on hover */
::-webkit-scrollbar-button:hover {
  background-color: #bbb;
}

/* Track */
::-moz-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-moz-scrollbar-thumb {
  background-color: rgba($primary, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
::-moz-scrollbar-thumb:hover {
  background-color: rgba($primary, 0.8);
}

/* Set the color of the scrollbar buttons on hover */
::-moz-scrollbar-button:hover {
  background-color: #bbb;
}

$font-size-base: 1rem;

$font-size-upper: 2.5rem;
$font-weight-upper: 700;
$font-size-dec: 0.25rem;

@for $i from 1 to 6 {
  h#{$i} {
    font-size: $font-size-upper;
    font-size: ($font-size-upper / $font-size-base) + rem;
    @if $i < 4 {
      font-weight: $font-weight-upper;
    } @else {
      font-weight: $font-weight-upper - 200;
    }
  }
  $font-size-upper: $font-size-upper - $font-size-dec;
}
.app-card-shadow {
  border-radius: 15px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
}
.page-wrapper {
  @apply max-w-[1150px] min-w-[300px] w-[80vw] mx-auto;

  .page-title {
    color: var(--mainColor);
    text-align: center;
    padding-block: 2rem;
    &,
    & * {
      text-transform: capitalize;
    }
  }
}

.add-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px 0;

  .add-button {
    height: 40px;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    color: var(--mainColor);
    background-color: transparent;
  }
}

.loading-spinner-continer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 50px;
  margin: auto;
  color: var(--mainColor);
}
.module-card {
  border-radius: 12px;
  position: relative;
  cursor: pointer;
}

.swiper {
  .banner-card {
    margin: 10px 0;
  }
  .category-card {
    margin: 10px 0;
  }
  .vendor-card {
    margin: 10px 0;
  }
  .product-card {
    margin: 10px 0;
  }
  .branch-card {
    margin: 10px 0;
    .branch-card-container {
      width: 350px;
    }
  }
}

img {
  position: relative;
  &::before {
    content: "\e52f";
    color: #ffeace;
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    background: var(--mainColorLight);
    font-family: "FontAwesome";
  }
  &::after {
    content: attr(alt);
    color: #ffeace;
    position: absolute;
    font-weight: bold;
    height: 100%;
    inset: 0;
    top: 8rem;
    text-align: center;
    width: 100%;
  }
}

.swiper-button-next,
.swiper-button-prev {
  background: white;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  box-shadow: 0 0 10px #fc7300;
  transition: all ease-out 150ms;
  &:hover {
    transform: scale(1.1);
    &:active {
      transform: scale(0.9);
    }
  }
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 10px !important;
  font-weight: bolder !important;
  color: var(--mainColor);
}

.swiper-button-disabled {
  display: none !important;
}

.slider-component {
  width: 100%;
}

.swiper-vertical {
  .swiper-button-next,
  .swiper-button-prev {
    inset: unset;
    transform-origin: center center;
    left: 45%;
  }
  .swiper-button-next {
    bottom: 0.5rem;
    transform: rotate(90deg) !important;
  }
  .swiper-button-prev {
    top: 2rem;
    transform: rotate(90deg) !important;
  }
  //   inset: 0;
  //   top:unset;
  //   left: 63% !important;
  //   top: 40% !important;
  //   transform: rotate(90deg);
  //   transform-origin: left center;
  // }
  // .swiper-button-next {
  //   left: 63% !important;
  //   bottom: 49% !important;
  //   transform: rotate(90deg);
  //   transform-origin: left center;

  // }
}
