@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --mainColor: #f89936;
  --mainColorLight: #f89a3663;
  --secondaryColor: #ffffff;
}

.app-card-shadow {
  border-radius: 15px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
}

.add-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 10px 0;
  .add-button {
    height: 40px;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    color: var(--mainColor);
    background-color: transparent;
    // color: var(--secondaryColor);
    // background-color: var(--mainColor);
  }
}

.loading-spinner-continer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  font-size: 50px;
  margin: auto;
  color: var(--mainColor);
}

.swiper {
  .category-card {
    margin: 10px 0;
  }
  .vendor-card {
    margin: 10px 0;
  }
  .product-card {
    margin: 10px 0;
  }
}
