@import "src/styles/_colors.scss";

$break-md: 768px;
$break-sm: 640px;
.account-layout-container {
  display: grid;
  grid-template-areas:
    "top-bar top-bar"
    "side-bar outlet";
  column-gap: 1rem;
  grid-template-columns: min-content 1fr;
  @media screen and (max-width: $break-sm) {
    grid-template-columns: unset;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      "side-bar"
      "outlet";
  }
  .account-topbar {
    grid-area: top-bar;
  }
  .account-sidebar {
    grid-area: side-bar;
    width: 13rem;
    border-right: 1px solid darken($color: $mainColor, $amount: 25);

    @media (max-width: $break-md) {
      width: 3.1rem;
    }
    @media screen and (max-width: $break-sm) {
      width: 100%;
    }
    [dir="rtl"] & {
      border-right: unset;
      border-left: 1px solid darken($color: $mainColor, $amount: 25);
    }
    @media screen and (max-width: $break-sm) {
      border-inline: unset;
      border-bottom: 1px solid darken($color: $mainColor, $amount: 25);
      margin-bottom: 1rem;
    }
    /*---*/
    .nav-menu {
      width: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      padding-right: 1rem;

      padding-top: 1rem;
      row-gap: 0.5rem;

      [dir="rtl"] & {
        padding-right: unset;
        padding-left: 1rem;
      }

      @media screen and (max-width: $break-sm) {
        flex-direction: row;
        padding: 0;
        margin: 0;
        margin-bottom: 1rem;
      }

      .nav-item {
        width: 100%;
        display: flex;
        flex-direction: row;
        border-radius: 0.5rem;
        overflow: hidden;
        @media (max-width: $break-md) {
          width: 3rem;
        }
        @media (max-width: $break-sm) {
          width: 3.4rem;
        }

        .nav-link {
          padding-block: 5px;
          text-decoration: none;
          color: unset;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          white-space: nowrap;
          transition: all ease-in-out 250ms;
          @media screen and (max-width: $break-sm) {
            flex-direction: column;
          }
          .nav-icon {
            margin-inline: 0.5rem;
            color: white;
            background-color: lighten($color: $mainColor, $amount: 10);
            padding: 0.5rem;
            transition: all ease-in-out 250ms;
            border-radius: 1rem;
            svg {
              width: 1rem;
              height: 1rem;
            }
          }
          .nav-title {
            @media screen and (max-width: $break-sm) {
              font-size: 0.5rem;
              margin-top: 0.5rem;
              white-space: normal;
              text-align: center;
              font-weight: normal;
            }
          }
          &.active {
            font-weight: 600;
            background-color: $mainColor;
            color: white;
            .nav-icon {
              background-color: white;
              color: $mainColor;
            }
          }
        }
      }
    }
  }
  .account-outlet {
    grid-area: outlet;
  }
}
