@import "styles/colors";
@import "styles/dimensions";
@import "styles/globals";

$card-height: 360px;

.product-card {
  height: $card-height;
  width: 250px;
  border: 2px solid #e2e2e2;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: white;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 12px;
    opacity: 0;
    box-shadow: 3px 3px 15px 2px rgba(0, 0, 0, 0.1);
    transition: opacity ease-out 300ms;
    z-index: -1;
  }
  &:hover::before {
    opacity: 1;
  }
  .product-img-container {
    height: calc(#{$card-height} + 120px);

    overflow: hidden;
    border-radius: 12px;
    margin-inline: -5px;
    margin-top: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lighten($color: $primary, $amount: 1);
    box-shadow: 1px 1px 10px #07070732;
    position: relative;
    &.pointer {
      cursor: pointer;
    }
    .product-img {
      position: relative;
      width: 100%;
      height: 100%;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to bottom, transparent 70%, black);
        z-index: 8;
      }
      & ~ .offer-icon {
        position: absolute;
        color: white;
        right: 1rem;
        top: 83%;
        font-weight: 600;
        z-index: 20;
      }
      & ~ .limited-icon {
        z-index: 20;
        position: absolute;
        color: white;
        left: 1rem;
        top: 83%;
        font-weight: 600;
        color: $warning;
      }
    }
    .product-img img {
      position: relative;
      width: 100%;
      height: 100%;

      object-fit: fill;
    }
    .product-img-icon {
      width: $icon-size-lg;
      height: auto;
    }
    .add-to-wishlist {
      @include product-icon;
      padding: 0;
      position: absolute;
      right: 1rem;
      top: 0.9rem;
      aspect-ratio: 1;
      z-index: 50;
      display: flex;
      justify-content: space-between;
      background: transparent;
      &::before {
        box-shadow: unset !important;
      }
      * {
        color: rgb(180, 20, 0);
      }
      svg.fa-heart {
        filter: drop-shadow(1px 1px 2px rgba(255, 255, 255, 0.7));
      }
    }
  }

  .product-info-container {
    border-radius: 12px;
    cursor: pointer;
    height: inherit;
    width: 100%;
    // position: absolute;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    // bottom: 0;
    .product-title {
      width: 104%;
      font-size: 18px;
      font-weight: 600;
      text-transform: capitalize;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
      line-clamp: 3; /* number of lines to show */
      -webkit-box-orient: vertical;
      color: black;
      text-decoration: none;
      &:hover {
        color: $primary;
      }
    }
    .product-vendor {
      font-size: 0.9rem;
      text-transform: capitalize;
      color: #999999;
      font-weight: bolder;
      margin-block: 10px;
    }
    .product-price {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100;
      margin-top: 0.5rem;
      align-items: baseline;
      margin-top: auto;
      padding-inline: 0.1rem;

      .current-price {
        flex: 0.3;
        font-weight: 600;
        color: $secondary;
        .number {
          font-size: 1.2rem;
        }
        .text {
          font-size: 0.7rem;
        }
      }
      .origional-price {
        flex: 0.3;
        text-decoration: line-through;
        font-size: 0.8rem;
        color: gray;
        font-weight: bolder;
      }
    }

    .product-actions {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 0.5rem;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row;

      .add-to-cart {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 100px;
        // height: 35px;

        .add-field-plus,
        .add-field-minus {
          @include product-icon;
          background-color: $mainColor;
          flex: 1;
          height: inherit;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          transition: transform ease-in-out 200ms;
          aspect-ratio: 1;
          border-radius: 0.9rem;
          svg {
            width: $icon-size-xs;
            height: $icon-size-xs;
          }
          &:active {
            * {
              transform: scale(0.9);
            }
          }
        }
        .add-field-input {
          height: 100%;
          width: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
          font-size: 1rem;
          // padding-inline: 4px;
        }
        .add-fields {
          position: relative;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          max-width: 100%;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          padding: 0;
          justify-content: space-evenly;
        }
      }
      .add-buttons {
        @include product-icon;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.1rem;
        height: inherit;
        border-radius: 0.7rem;
        height: 100%;
        padding-inline: 0.5rem;

        box-shadow: 1px 1px 4px 1px rgba(150, 150, 150, 0.5);
      }
    }
  }

  .branches-list {
    position: absolute;
    z-index: 9;
    box-shadow: 0 0px 10px 2px $mainColor;
    border-radius: 1rem;
    overflow: auto;
    background-color: white;
    padding-block: 1rem;
    height: 40%;
    overflow-y: auto;
    bottom: 1.2rem;
    left: 10%;
    right: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
    animation: branches-popup 500ms cubic-bezier(0.87, 0, 0.13, 1) 0s 1 normal
      forwards;
    .branch-item {
      padding: 0.5rem 0.8rem;
      user-select: none;
      &.disabled {
        opacity: 0.7;
      }
      &:hover {
        background-color: lighten($color: $mainColor, $amount: 15);
        cursor: pointer;
      }
    }
    &.close {
      animation: branches-popup-close 400ms cubic-bezier(0.87, 0, 0.13, 1) 0s 1
        normal forwards;
    }
    .loading-icon {
      inset: 0;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.2rem;
      color: $mainColor;
      background: white;
      z-index: 1;
    }
  }
  .branch-select-error {
    position: absolute;
    box-shadow: 0 0px 10px 2px #fc7300;
    border-radius: 1rem;
    overflow: auto;
    background-color: white;
    padding: 1rem;
    height: 35%;
    overflow-y: auto;
    left: 0%;
    right: 0%;
    bottom: 10%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
    animation: branches-popup 500ms cubic-bezier(0.87, 0, 0.13, 1) 0s 1 normal
      forwards;
    .branch-select-error-actions {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 1rem;
      button {
        @include product-icon;
        border: unset;
        height: 1.5rem;
        padding: 0.2rem 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        font-size: 1.1rem;
        &.action-cancel {
          background-color: lighten($color: $mainColor, $amount: 5);
          aspect-ratio: 1;
        }
      }
      .already-whishlisted {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@keyframes branches-popup {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes branches-popup-close {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0);
  }
}
